@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Paleta Oficial (Logo Pocholo's) */
  --color-land-bg: #FDFBF7;
  /* Crema Fondo */
  --color-land-red: #D22027;
  /* Rojo Marca (Logo background) */
  --color-land-brown: #5D4037;
  /* Marrón Chullo */
  --color-land-orange: #FFC107;
  /* Amarillo/Naranja Pico */
  --color-land-text: #2D2D2D;
  /* Gris Oscuro */

  /* Fuentes */
  --font-serif: var(--font-playfair);
  --font-body: var(--font-montserrat);
}

/* Patrones Estéticos (Non-Liso) */
.bg-andean-pattern {
  background-color: var(--color-land-bg);
  background-image: radial-gradient(var(--color-land-red) 1px, transparent 1px), radial-gradient(var(--color-land-red) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}